[submodule "Gibby"]
	path = Dependencies/Gibby
	url = git@github.com:KevinVitale/Gibby.git
[submodule "ORSSerialPort"]
	path = Dependencies/ORSSerialPort
	url = git@github.com:KevinVitale/ORSSerialPort.git
